*{
    font-family: "Titillium Web";
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.inicio{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),
    url("img/fondo2.png");
    background-size: cover;
    background-position: center center;
    color: #fff;
}

.inicio-contenido{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 30px;
}

.header{
    top: 0;
    left: 0;
    padding: 15px 10%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

a{
    text-decoration: none;
}

.logo {
    flex: 2;
    font-size: 32px;
    color: #fff;
}

.nav{
    flex: 3;
}

.nav a{
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;    
    margin-left: 40px;
}

.nav a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.nav a:hover::before{
    width: 100%;
}

.info{
    padding-top: 100px;
    padding-bottom: 130px;
    text-align: center;
}

.info h2, .info h1{
    text-shadow: 
                -1px -1px 0 #000,
                 1px -1px 0 #000,
                -1px  1px 0 #000,
                 1px  1px 0 #000;
}

.info h1{
    font-size: 3rem;
    letter-spacing: 5px;
}

.info h2{
    font-weight: normal;
    font-size: 20px;
    margin-top: -10px;
    letter-spacing: 2px;
}

.foto{
    position: relative;
}

.foto img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    max-width: 200px;
    border-radius: 50%;
    border: 5px solid #01004b;
    position: absolute;
    left: 50%;
    top: -100px;
    transform: translateX(-50%);
}


.sobremi{
    background-color: #e6e6e6;
    padding: 140px 0 100px 0;
    text-align: center;
}

.sobremi{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),
    url("img/fondo3.jpg");
}

.titulo{
    font-family: "Yellowtail";
    font-size: 1.5rem;
}

.titulo{
    text-shadow: 
                -0.5px -0.5px 0 #ffffff,
                 0.5px -0.5px 0 #ffffff,
                -0.5px  0.5px 0 #ffffff,
                 0.5px  0.5px 0 #ffffff;
}

.sobremi-contenido, .habilidades-contenido, .resumen-contenido, .contacto-contenido{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}

.sobremi-contenido h3, .resumen-contenido h2{
    text-transform: uppercase;
    font-size: 30px;
    text-shadow: 
                -0.5px -0.5px 0 #ffffff,
                 0.5px -0.5px 0 #ffffff,
                -0.5px  0.5px 0 #ffffff,
                 0.5px  0.5px 0 #ffffff;
}

.especial{
    color: #01004b;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    text-shadow: 
                -0.1px -0.1px 0 #ffffff,
                 0.1px -0.1px 0 #ffffff,
                -0.1px  0.1px 0 #ffffff,
                 0.1px  0.1px 0 #ffffff;
}

.grid-sobremi{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px; 
    padding: 10px;
    padding-bottom: 100px;
}

.sobremi-card{
    background-color: #808080;
    color: white;
    border: 2px solid #333;
    padding: 20px;
    text-align: center;
}

.sobremi-card h3, p{
    color: #000;
}

.map-container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    border: 2px solid #808080;
    border-radius: 10px;
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 450px;
    border: 0;
}

.habilidades{
    padding: 80px 100px 100px 100px;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),
    url("img/fondo.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: #fff;
}

.habilidades-contenido h3, .contacto-contenido h3{
    text-transform: uppercase;
    font-size: 30px;
    text-shadow: 
                -1px -1px 0 #000,
                 1px -1px 0 #000,
                -1px  1px 0 #000,
                 1px  1px 0 #000;
}

.titulo{
    text-shadow: 
                -1px -1px 0 #000,
                 1px -1px 0 #000,
                -1px  1px 0 #000,
                 1px  1px 0 #000;
}

.grid-habilidades{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 100px; 
    padding: 10px;
    padding-bottom: 50px;
}

.barra{
    border: 2px solid #940253;
    border-radius: 3px;
    position: relative;
    width: 100%;
    height: 30px;
    overflow: hidden;
}

.html-item, .py-item, .java-item, .javascript-item{
    background: linear-gradient(45deg, #01004b 25%, transparent 25%, transparent 50%, #01004b 50%, #01004b 75%, transparent 75%, transparent 100%);
            background-size: 20px 20px; /* Ajusta el tamaño de las rayas */
    position: absolute;
    height: 100%;
    background-color: #8c00ff;
}
/*
.html-item{
    width: 70%;
}

.py-item{
    width: 90%;
}

.java-item{
    width: 90%;
}

.javascript-item{
    width: 80%;
}*/

.video-container {
    position: relative;
    margin: auto;
    overflow: hidden;
    padding-top: 56.25%;
    border: 4px solid #940253;
    border-radius: 15px;
}

.video-container iframe, .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.resumen{
    background-color: #e6e6e6;
    padding: 70px 0 100px 0;
    text-align: center;
}

.grid-experiencia{
    display: grid;
    padding-top: 40px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 10px; 
}

.educacion-card {
    grid-column: 1/3; grid-row: 1;
    display: inline-block;
    color: #01004b;
    font-weight: bold;
    border: 2px solid #01004b;
    padding: 10px;
}
.proyectos-card {
    grid-column: 3/5; grid-row: 1;
    display: inline-block;
    color: #01004b;
    font-weight: bold;
    border: 2px solid #01004b;
    padding: 10px;
}
.educacion-detalle-card {
    grid-column: 1; grid-row: 2;
    margin-top: 30px;
    border-collapse: collapse;
    border-right: 2px solid #bab9b9;
}
.educacion-detalle2-card {
    grid-column: 2; grid-row: 2;
    margin-top: 30px;
    border-collapse: collapse;
}
.proyectos-detalle-card {
    grid-column: 3; grid-row: 2;
    margin-top: 30px;
    border-collapse: collapse;
    border-right: 2px solid #bab9b9;
}
.proyectos-detalle2-card {
    grid-column: 4; grid-row: 2;
    margin-top: 30px;
    border-collapse: collapse;
}

.contacto{
    background-color: #202020;
    padding: 140px 0 100px 0;
    color: #e6e6e6;
    text-align: center;
}

.contacto-contenido h3{
    padding-top: 20px;
    text-align: center;
}

.grid-micontacto{
    display: grid;
    padding-top: 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 10px; 
    padding-bottom: 50px;
}

.form-container {
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(255, 0, 0, 0.329);
    border: #940253 solid;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #e6e6e6;
}

.form-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #e6e6e6;
}

.form-container input[type="text"],
.form-container textarea,
.form-container input[type="email"],
.form-container input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}


.form-container input[type="text"]:focus,
.form-container input[type="email"]:focus,
.form-container input[type="date"]:focus {
    border-color: #0073e6;
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 115, 230, 0.3);
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #005bb5;
}